{% extends 'base.html.twig' %}

{% block title %}
    Interdit
{% endblock %}

{% block body %}
    <section class="error-page">
        <div class="center">
            <div class="block text-center">
                <h1>403</h1>
                <h3>Accès interdit</h3>
                <p>Si vous voyez cette page, cela signifie que vous
                    <br>ne devriez pas être ici.</p>
                <a href="{{ path('app_home') }}" class="btn btn-main-md">retour à la page d'accueil</a>
            </div>
        </div>
    </section>
{% endblock %}